<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <link th:href="@{/styles/sitewide.css}" rel="stylesheet" />
    <title>Welcome to CodeJava Home</title>

</head>

<body>
    <div class="container text-center">
        <h1>Absurd Bilutleie</h1>
    </div>

    <div class="form-utleiesteder">
        <form th:action="@{/}" th:object="${utleie}" method="POST">
            <label>Hentested:
                <select th:field="${utleie.hentested}">
                    <option th:each="kontor : ${alleKontor}" th:value="${kontor.nummer}"
                        th:utext="${kontor.poststed}" />
                </select>
            </label>
            <label>Retursted:
                <select th:field="${utleie.retursted}">
                    <option th:each="kontor : ${alleKontor}" th:value="${kontor.nummer}"
                        th:utext="${kontor.poststed}" />
                </select>
            </label>
            <div>
                <label for="starttado">Starttado:</label>
                <input th:field="${utleie.tidUtleie}" type="date" id="starttado" name="starttado">
            </div>
            <div>
                <label for="antDager">Antall leiedager:</label>
                <input th:field="${utleie.antallDager}" type="number" id="antDager" name="antDager">
            </div>
            <button type="submit">Velg</button>
        </form>
    </div>

</body>

</html>